# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Docker
*.env
*.local

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Coverage
htmlcov/
.coverage
.tox/

# Others
*.bak
*.swp
.idea/ 